<script id="form-field-checkbox-template" type="text/x-jquery-tmpl">
<label data-sub-channel="sub-label-${id}" class="label editable">Click to edit</label>
  <span class="required hidden">*</span>
<div class="input">
  <ul class="option-list vertical-list">
  <li>
  <input type="checkbox" value="Option 1" /><label>Option 1</label>
  </li>
  <li>
  <input type="checkbox" value="Option 2" /><label>Option 2</label> 
  </li>
  </ul>
@Html.Partial("_form-field-properties")
</div>
<a href="javascript:void(0);" class="help-icon-1 help-icon hide w-tip">
  <img src="@Html.SpacerImage()" alt="help" />
</a>
@Html.Partial("_form-field-settings-template")
</script>