<script id="form-field-header-template" type="text/x-jquery-tmpl">
<h2 data-sub-channel="sub-text-${id}" class="default editable">Click to edit</h2>

@Html.Partial("_form-field-properties")
@Html.Partial("_form-field-settings-template")
</script>